html {
	font-family: sans-serif;
}

.container {
	width: 672px;
	height: 672px;
	background-color: #ccc;
	border: 1px solid #ccc;
	margin-top: 25px;
}

.square {
	background: #ffffff;
	width: 10px;
	height: 10px;
	margin: 1px;
    display: inline-block;
    float: left;
}

.sidebar {
    float: left;
    margin-top: 100px;
}